# Required ignores
.env
.azure/
node_modules/
.vscode/
dist/
build/

# Ignore build artifacts only inside packages
packages/**/node_modules/
packages/**/dist/
packages/**/build/

# Don't ignore actual source code
!packages/webapp/**
!packages/webapi/**
